[submodule "notenao-app"]
	path = notenao-app
	url = git@github.com:Kamrulhasan12345/notenao-app.git
[submodule "sentinel"]
	path = sentinel
	url = git@github.com:Kamrulhasan12345/sentinel.git
[submodule "bondhupath-app"]
	path = bondhupath-app
	url = git@github.com:Kamrulhasan12345/bondhupath-app.git
